h1{text-align:center;}
h1{font-size:xx-large;}
h2{text-align:center;}
h2{font-size:x-large;}
p{font-size:large;}
p{text-align:left;}
h1{color:deeppink;}
h2{color:deeppink;}
p{color:royalblue;}
ol{font-size:large;}
ol{color:royalblue;}
h1{font-family:cursive;}
h2{font-family:sans-serif;}
ol{font-family:sans;}
p{font-family:sans;}
